@tailwind base;
@tailwind components;
@tailwind utilities;

.container-image{
  background-image: url('../assets/images/background.jpg');
  overflow: hidden;
}

.inner-container{
  background-color: white;
  overflow: hidden;
}